<footer class="footer" role="contentinfo">
    <a href="/" class="site-logo">
    	<span class="">Gillette Direct</span>
    </a>

    <div class="container bx-flex bx-flex-row space-between">
        <section class="footer-social">
            <article class="footer-social--newsletter" data-section-type="newsletterSubscription">
                    <h5>Subscribe to our newsletters</h5>

<form class="form" action="/subscribe.php" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">Email Address</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input" id="nl_email" name="nl_email" type="email" value="" placeholder="Enter your email">
                <button class="send" type="submit">
                    <span class="txt">Submit</span>
                    <span class="svg-container">{{> components/common/svg-icons/white-arrow}}</span>              
                </button>
            </div>
        </div>
    </fieldset>
</form>
            </article>

            <article class="footer-social--social" data-section-type="footer-webPages">
                    <ul class="socialLinks socialLinks--alt">
            <li class="socialLinks-item">
                <a class="icon icon--facebook" href="https://www.facebook.com/GilletteANZ/" target="_blank">
                    <svg><use xlink:href="#icon-facebook"></use></svg>
                </a>
            </li>
            <li class="socialLinks-item">
                <a class="icon icon--instagram" href="https://www.instagram.com/gilletteaustralia/" target="_blank">
                    <svg><use xlink:href="#icon-instagram"></use></svg>
                </a>
            </li>
            <li class="socialLinks-item">
                <a class="icon icon--youtube" href="https://www.youtube.com/user/gilletteaustralia" target="_blank">
                    <svg><use xlink:href="#icon-youtube"></use></svg>
                </a>
            </li>
    </ul>
            </article>
        </section>

        <section class="footer-info">
                        <article class="footer-info-col" data-section-type="footer-webPages" data-footer-toggle="">
                            <ul class="footer-info-list">
                                <li>
                                    <a href="/get-started/">Get Started </a>
                                </li>
                                <li>
                                    <a href="/students/">Students </a>
                                </li>
                                <li>
                                    <a href="/discover/">Discover </a>
                                </li>
                            </ul>
                        </article>
                        <article class="footer-info-col" data-section-type="footer-webPages" data-footer-toggle="">
                            <ul class="footer-info-list">
                                <li>
                                    <a href="/razors/">Razors</a>
                                </li>
                                <li>
                                    <a href="/heated-razor/">Heated Razor</a>
                                </li>
                                <li>
                                    <a href="/accessories/">Accessories</a>
                                </li>
                                <li>
                                    <a href="/gifts/">Gifts </a>
                                </li>
                            </ul>
                        </article>
                        <article class="footer-info-col" data-section-type="footer-webPages" data-footer-toggle="">
                            <ul class="footer-info-list">
                                <li>
                                    <a href="https://direct.gillette.com.au/about/">About</a>
                                </li>
                                <li>
                                    <a href="https://direct.gillette.com.au/faqs/">FAQs</a>
                                </li>
                                <li>
                                    <a href="https://direct.gillette.com.au/shaving-tips/">Shaving tips</a>
                                </li>
                                <li>
                                    <a href="https://direct.gillette.com.au/contact-us/">Contact us</a>
                                </li>
                            </ul>
                        </article>
                        <article class="footer-info-col" data-section-type="footer-webPages" data-footer-toggle="">
                            <ul class="footer-info-list">
                                <li>
                                    <a href="https://direct.gillette.com.au/terms-conditions/">Terms &amp; Conditions</a>
                                </li>
                                <li>
                                    <a href="https://direct.gillette.com.au/privacy-policy/">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="https://direct.gillette.com.au/return-refunds/">Return &amp; Refunds</a>
                                </li>
                            </ul>
                        </article>
        </section>
    </div>

    <div class="footer-container-last bx-flex bx-flex-row space-between">
        <section class="footer-payments first bx-col-70">
                <div class="footer-payment-icons">
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-american-express"></use></svg>
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-visa"></use></svg>
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-mastercard"></use></svg>
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-paypal"></use></svg>
        <svg class="footer-payment-icon"><use xlink:href="#icon-logo-afterpay"></use></svg>
    </div>
        </section>

        <section class="footer-partners last bx-col-30 bx-flex flex-end">
            <a href="/terracycle/">
                <svg class="icon--gd-terracycle-white"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gd-terracycle-white"></use></svg></a>
        </section>
    </div>

        <div class="footer-copyright">
            <p class="powered-by">© 2020 Procter &amp; Gamble <a href="https://www.gillette.com.au" target="_new">Gillette.com.au</a></p>
        </div>
</footer>