<div class="header-container bx-flex bx-row space-between container animated">
<div class="header-logo-container bx-first animated">
<div class="header-logo">
	<a href="./">
		<div class="header-logo-image-container">
			<img class="header-logo-image" src="{{cdn 'img/gillette-logo.png'}}" alt="Gillette Direct" title="Gillette Direct">
		</div>
	</a>
</div>
</div>
<div class="navPages-container bx-middle">
{{> components/common/navigation-menu}}
</div>
<nav class="navUser bx-last">
    <div class="navUser-section navUser-section--alt bx-flex bx-flex-row">
        <div class="navUser-item">
            <a class="navUser-action navUser-item--compare"
               href="{{urls.compare}}"
               data-compare-nav
               aria-label="{{lang 'common.compare'}}"
            >
                {{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span>
            </a>
        </div>
        <div class="navUser-item navUser-item--search">
            <button class="navUser-action navUser-action--quickSearch"
               type="button"
               id="quick-search-expand"
               data-search="quickSearch"
               aria-controls="quickSearch"
               aria-label="{{lang 'common.search'}}"
            >
                <span class="support-text">{{lang 'common.search'}}</span>
                <span class="svg-container">{{> components/common/svg-icons/search}}</span>
            </button>
        </div>
        <div class="navUser-item navUser-item--account">
            <span class="support-text">
            {{#if customer}}
                <a class="navUser-action"
                   href="{{urls.account.index}}"
                   aria-label="{{lang 'common.account'}}"
                >
                    {{lang 'common.account'}}
                </a>
                <a class="navUser-action"
                   href="{{urls.auth.logout}}"
                   aria-label="{{lang 'common.logout'}}"
                >
                    {{lang 'common.logout'}}
                </a>
            {{else}}
                <a class="navUser-action"
                   href="{{urls.auth.login}}"
                   aria-label="{{lang 'common.login'}}"
                >
                    {{lang 'common.login'}}
                </a>
                {{#if settings.account_creation_enabled}}
                    <span class="navUser-or">{{lang 'common.or'}}</span>
                    <a class="navUser-action"
                       href="{{urls.auth.create_account}}"
                       aria-label="{{lang 'common.sign_up'}}"
                    >
                        {{lang 'common.sign_up'}}
                    </a>
                {{/if}}
            {{/if}}
            </span>
            <span class="svg-container">{{> components/common/svg-icons/login}}</span>
        </div>
        <div class="navUser-item navUser-item--cart">
            <a class="navUser-action"
               data-cart-preview
               data-dropdown="cart-preview-dropdown"
               data-options="align:right"
               href="{{urls.cart}}"
               aria-label="{{lang 'cart.nav_aria_label'}}"
            >
                <span class="svg-container">{{> components/common/svg-icons/cart}}</span>
                <span class="support-text">
                <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>
                <span class="countPill cart-quantity"></span>
                </span>
                
                
                
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </div>
        <div class="navUser-item navUser-item--au-flag">
        	<span class="navUser-item-cartLabel support-text">AU</span>
                <span class="svg-container">{{> components/common/svg-icons/au-flag}}</span>
                <span class="countPill cart-quantity"></span>
        </div>
    </div>
    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
        {{> components/common/quick-search name='nav-quick-search'}}
    </div>
</nav>


</div>