<nav class="navPages bx-flex bx-flex-row space-between">
<div class="navPages-container" id="menu" data-menu="">
            <nav class="navPages">
    <ul class="navPages-list bx-flex">
		<li class="navPages-item navPages-item-page">
		<a class="navPages-action" href="https://direct.gillette.com.au/subscribe/">Subscribe</a>
		</li>
		<li class="navPages-item navPages-item-page has-children navPages-item-active">
		<a class="navPages-action" href="/razors/">Products</a>
		<div class="navPage-subMenu" aria-hidden="true" tabindex="-1">
			<div class="container">
						<ul class="navPage-subMenu-list">
							<li class="navPage-subMenu-header" style="background-image: url(https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/nav-razors.jpg);">
								<div class="title"><span>Razors </span></div>
							</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/fusion-proglide/">Fusion 5 Proglide</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/skinguard/">Skinguard</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/fusion5/">Fusion 5</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/mach3-turbo/">Mach3 Turbo</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action navPage-subMenu-blanket" href="/razors/">All Razors </a>
									</li>
						</ul>
						<ul class="navPage-subMenu-list">
							<li class="navPage-subMenu-header" style="background-image: url(https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/nav-razors.jpg);">
								<div class="title"><span>Blades </span></div>
							</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/fusion-proglide-manual-blade-refill-4-pack/">Fusion 5 ProGlide Cartridge 4pk</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/proglide-manual-blade-refill-8-pack/">Fusion 5 ProGlide Cartridge 8pk</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/skinguard-sensitive-blade-refills-4-pack/">Skinguard Cartridge 4pk</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/skinguard-sensitive-blade-refills-8-pack/">Skinguard Cartridge 8pk</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/gillette-fusion5-manual-blade-refill-4-pack/">Fusion 5 Cartridge 4pk</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/gillette-fusion5-manual-blade-refill-8-pack/">Fusion 5 Cartridge 8pk</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/mach3-turbo-razor-blade-refill-4-pack/">Mach3 Turbo Cartridge 4pk</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/mach3-turbo-razor-blade-refill-8-pack/">Mach3 Turbo Cartridge 8pk</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action navPage-subMenu-blanket" href="/Blades/">All Blades </a>
									</li>
						</ul>
						<ul class="navPage-subMenu-list">
							<li class="navPage-subMenu-header" style="background-image: url(https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/nav-heated.jpg);">
								<div class="title"><span>Heated Razor </span></div>
							</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="https://direct.gillette.com.au/discover-heated-razor/">Discover Heated Razor</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/heated-razor/">Shop Heated Razor</a>
									</li>
						</ul>
						<ul class="navPage-subMenu-list">
							<li class="navPage-subMenu-header" style="background-image: url(https://cdn11.bigcommerce.com/s-ea1fdgcrrd/product_images/uploaded_images/banner-stuffs.png);">
								<div class="title"><span>Beard Styling </span></div>
							</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/310BT/">Braun S3 Electric Shaver</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/braun-series-5-electric-shaver/">Braun S5 Electric Shaver</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/BT3240/">Braun S3 Beard Trimmer</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/BT5260/">Braun S5 Beard Trimmer</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/MGK3245/">Braun 7-in-1 Styling Kit</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/MGK5260/">Braun 8-in-1 Styling Kit</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action navPage-subMenu-blanket" href="/Braun/">All Braun </a>
									</li>
						</ul>
						<ul class="navPage-subMenu-list">
							<li class="navPage-subMenu-header" style="background-image: url(https://cdn11.bigcommerce.com/s-z6cvd38ohl/product_images/uploaded_images/nav-face-body.jpg);">
								<div class="title"><span>Face &amp; Body </span></div>
							</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/beard-trimmer/">Beard Trimmer</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/pure-shaving-cream/">PURE Shaving Cream</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/razor-case/">Razor Case</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/wall-hanger/">Wall Hanger</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action" href="/razor-protector/">Razor Protector</a>
									</li>
									<li class="navPage-subMenu-item">
										<a class="navPage-subMenu-action navPage-subMenu-blanket" href="/accessories/">All Products </a>
									</li>
						</ul>
			</div>
		</div>
		</li>
		<li class="navPages-item navPages-item-page">
		<a class="navPages-action" href="https://direct.gillette.com.au/students/">Students</a>

		</li>
		<li class="navPages-item navPages-item-page">
		<a class="navPages-action" href="/gifts/">Gifts</a>

		</li>
		<li class="navPages-item navPages-item-page">
		<a class="navPages-action" href="https://direct.gillette.com.au/discover/">Discover</a>

		</li>
    </ul>
</nav>
        </div>
</nav>
